/* static/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header a {
    color: #ff8c00;
    margin-left: 20px;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
